In [1]:
!pip install yfinance
# !pip install yahoofinancials

Collecting yfinance
  Downloading yfinance-0.1.86-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: numpy>=1.15 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: appdirs>=1.4.4 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.86

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [4]:
!pip install yfinance
!pip install yahoofinancials
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import time
import datetime
import numpy as np
from config import db_password

Requirement already satisfied: yfinance in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (0.1.86)
Requirement already satisfied: requests>=2.26 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: multitasking>=0.0.7 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: appdirs>=1.4.4 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: six>=1.5 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yahoofinancials) (4.11.1)
Requirement already satisfied: pytz in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from yahoofinancials) (2021.3)
Requirement already satisfied: soupsieve>1.2 in /Users/ziyingpan/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->yahoofinancials) (2.3.1)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15190 sha256=f78593f17bbd0c06f8f1a4f702b382642289638c8b0656c8b902dbb6a0cc2cad
  Stored in directory: /Users/ziyingpan/Library/Caches/pip/wheels/f9/be/2f/76938eebd1cbaa9e1bcd123368dc2fd94ff0572b741045f12c
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [5]:
import os 

from dotenv import load_dotenv
load_dotenv()

from sqlalchemy import create_engine
sc_key=os.getenv("db_key")

db_string = f"postgresql://postgres:{sc_key}@cryptodb.cji8qxkmosul.us-east-1.rds.amazonaws.com:5432/crypto_stock"
engine = create_engine(db_string)

In [18]:
#time to pull the data
start_date =datetime.datetime.today().strftime('%Y-%m-%d')
end_date = (datetime.datetime.today() - datetime.timedelta(days=5)).strftime('%Y-%m-%d')
columns_name =["high","low","open","close","volume","date","ticker"]

### CRYPTO

In [19]:
# calling API 
coins=['BTC-USD','ETH-USD','BNB-USD','XRP-USD','SOL-USD']

data=YahooFinancials(coins).get_historical_price_data(end_date,start_date,"daily")
#into the dataframe
btc_df = pd.DataFrame(data['BTC-USD']['prices'])
eth_df = pd.DataFrame(data['ETH-USD']['prices'])
bnb_df = pd.DataFrame(data['BNB-USD']['prices'])
xrp_df = pd.DataFrame(data['XRP-USD']['prices'])
sol_df = pd.DataFrame(data['SOL-USD']['prices'])

In [20]:
# clean the dataframe
def clean (df):
    df =df.drop(['date','adjclose'], axis=1)
    df.rename(columns={'formatted_date':'date'},inplace=True)
    df['date']=pd.to_datetime(df['date'])
    
    return df

In [21]:
# function calling for crypto
btc = clean(btc_df)
eth = clean(eth_df)
bnb = clean(bnb_df)
xrp = clean(xrp_df)
sol = clean(sol_df)

# adding ticker

li=['btc','eth','bnb','xrp','sol']
for x in li:
    if (x=='btc'):
        btc['ticker']="BTC"
    elif (x=='eth'):
        eth['ticker']="ETH"
    elif (x=='bnb'):
        bnb['ticker']="BNB"
    elif (x=='xrp'):
        xrp['ticker']="XRP"
    elif (x=='sol'):
        sol['ticker']="SOL"

In [25]:
# combining all the cryptos 
crypto = pd.concat([eth,bnb,xrp,sol], ignore_index=True)
crypto.head(6)

,high,low,open,close,volume,date,ticker
0,1341.791138,1093.122559,1100.107178,1299.464600,28581002122,2022-11-10,ETH
1,1302.295288,1211.329590,1298.882446,1287.221069,20920539099,2022-11-11,ETH
2,1288.150879,1242.152222,1287.438354,1255.268311,10964962767,2022-11-12,ETH
3,1271.712524,1208.520996,1255.441284,1221.819214,10717455214,2022-11-13,ETH
4,1284.217651,1178.429077,1221.895508,1241.604248,15028035663,2022-11-14,ETH
5,1283.198730,1238.688232,1241.677734,1251.736206,11798011594,2022-11-15,ETH

In [23]:
# writing it on a CSV
btc.to_json("Crypto Data/BTC.json", indent = 1, orient='records')
eth.to_json("Crypto Data/ETH.json", indent = 1, orient='records')
bnb.to_json("Crypto Data/BNB.json", indent = 1, orient='records')
xrp.to_json("Crypto Data/XRP.json", indent = 1, orient='records')
sol.to_json("Crypto Data/SOL.json", indent = 1, orient='records')
# crypto.to_json("Stock Data/crypto.csv",index=False, header=columns_name)

In [38]:
crypto.to_sql(name='cryptos', con=engine, if_exists='append')

350

### STOCK

In [39]:
# calling API
stock=['meta','aapl','amzn','goog','tsla']
data = YahooFinancials(stock).get_historical_price_data(end_date,start_date, time_interval='daily')
# into the dataframe and adding ticker
meta_df = pd.DataFrame(data['META']['prices'])
meta_df['ticker'] ='META' 
aapl_df = pd.DataFrame(data['AAPL']['prices'])
aapl_df['ticker'] ='AAPL'
amzn_df = pd.DataFrame(data['AMZN']['prices'])
amzn_df['ticker'] = 'AMZN'
goog_df = pd.DataFrame(data['GOOG']['prices'])
goog_df['ticker'] ='GOOG'
tsla_df = pd.DataFrame(data['TSLA']['prices'])
tsla_df['ticker'] ='TSLA'

In [40]:
# calling the clean funtion
meta = clean(meta_df)
aapl = clean(aapl_df)
amzn = clean(amzn_df)
goog = clean(goog_df)
tsla = clean(tsla_df)

In [41]:
# combining all the stocks
stock = pd.concat([meta,amzn,aapl,goog,tsla], ignore_index=True)
stock.head()

         high         low        open       close    volume       date ticker
0  193.440002  189.470001  191.910004  190.419998  13473000 2019-11-07   META
1  192.339996  189.699997  190.000000  190.839996  10760800 2019-11-08   META
2  190.080002  188.539993  189.929993  189.610001   8631200 2019-11-11   META
3  195.059998  189.740005  190.000000  194.470001  17615500 2019-11-12   META
4  195.699997  192.740005  194.699997  193.190002  10860700 2019-11-13   META

In [44]:
# writing it on a CSV
meta.to_csv("../data/META.csv",index=False, header=columns_name)
amzn.to_csv("../data/AMZN.csv",index=False, header=columns_name)
aapl.to_csv("../data/AAPL.csv",index=False, header=columns_name)
goog.to_csv("../data/GOOGL.csv",index=False, header=columns_name)
tsla.to_csv("../data/TSLA.csv",index=False, header=columns_name)
stock.to_csv("../data/stock.csv",index=False, header=columns_name)

In [49]:
stock.to_sql(name='stocks', con=engine, if_exists='append', index=True)

795

### SQL

In [56]:
#connect to SQL database
db_string = f"postgresql://postgres:{db_password}@cryptodb.cji8qxkmosul.us-east-1.rds.amazonaws.com"
engine = create_engine(db_string)
# Import the stock Data
stock.to_sql(name='stock', con=engine, if_exists='replace')
# Import the stock Data
crypto.to_sql(name='crypto', con=engine, if_exists='replace')
# create a variable for the number of rows imported
rows_imported=0
# get the start_time from time.time()
start_time=time.time()
print(f'Done.{time.time()-start_time} total secons elapsed')

Done.0.0002391338348388672 total secons elapsed