In [97]:
#pip install pycoingecko
#import modules
import pandas as pd
import datetime
import time as t
import plotly.graph_objects as go
from plotly.offline import plot
from pycoingecko import CoinGeckoAPI

In [98]:
#create a client
cg = CoinGeckoAPI()
#confirm connection
CoinGeckoAPI().ping()

{'gecko_says': '(V3) To the Moon!'}

In [99]:
#get a list of coins, sort df by id
coin_list = CoinGeckoAPI().get_coins_list()
coin_df = pd.DataFrame(coin_list).sort_values('symbol').reset_index(drop=True)
coin_df.head()

                id  symbol              name
0  eternal-dragons           Eternal Dragons
1     arabian-doge  $adoge      Arabian Doge
2           alkimi    $ads            Alkimi
3     aurora-token   $adtx  Aurora Dimension
4      alpha-nodes  $alpha      Alpha Shares

In [100]:
coins = ['bitcoin','ethereum','bnb','binance','xrp','cardano','solana','dodgecoin','polkadot']
coin_df.loc[(coin_df['id']=='bitcoin')|(coin_df['id']=='ethereum')|
            (coin_df['id']=='bnb')|(coin_df['id']=='ripple')|
            (coin_df['id']=='cardano')|(coin_df['id']=='solana')|
            (coin_df['id']=='doge')|(coin_df['id']=='polkadot'),:]
# coin_df.loc[(coin_df['symbol']=='btc')|(coin_df['symbol']=='eth')|
#             (coin_df['symbol']=='bnb')|(coin_df['symbol']=='xrp')|
#             (coin_df['symbol']=='ada')|(coin_df['symbol']=='sol')|
#             (coin_df['symbol']=='doge')|(coin_df['symbol']=='dot')
#             |(coin_df['symbol']=='binance'),:]

             id symbol      name
298     cardano    ada   Cardano
1836    bitcoin    btc   Bitcoin
3436   polkadot    dot  Polkadot
3944   ethereum    eth  Ethereum
10346    solana    sol    Solana
12511    ripple    xrp       XRP

In [101]:
counterCurrencies = CoinGeckoAPI().get_supported_vs_currencies()
counterCurrencies
currency = ['usd']
simplePriceRequest = CoinGeckoAPI().get_price(ids = coins, vs_currencies = 'usd')
simplePriceRequest
marketcap_vol_change = CoinGeckoAPI().get_price(ids = coins, 
                        vs_currencies = currency, 
                        include_market_cap = True,
                        include_24hr_vol = True,
                        include_24hr_change = True,
                        include_last_updated_at = True)
print(marketcap_vol_change)
#dataframe and transposed
marketcap_vol_change_df=pd.DataFrame(marketcap_vol_change).T
# #reformat date

marketcap_vol_change_df['last_updated_at'] = pd.to_datetime(marketcap_vol_change_df['last_updated_at'],unit='s')
#reformat volume
marketcap_vol_change_df['usd'] = marketcap_vol_change_df['usd'].map("${:,.2f}".format)
marketcap_vol_change_df['usd_24h_vol'] = marketcap_vol_change_df['usd_24h_vol'].map("${:,.2f}".format)
marketcap_vol_change_df['usd_market_cap'] = marketcap_vol_change_df['usd_market_cap'].map("${:,.2f}".format)
marketcap_vol_change_df

{'cardano': {'usd': 0.44638, 'usd_market_cap': 15093569338.749836, 'usd_24h_vol': 474451226.3232653, 'usd_24h_change': -1.017870923493722, 'last_updated_at': 1663693507}, 'ethereum': {'usd': 1366.2, 'usd_market_cap': 164860152028.68307, 'usd_24h_vol': 13770505279.162046, 'usd_24h_change': 1.1266487759184052, 'last_updated_at': 1663693463}, 'solana': {'usd': 32.2, 'usd_market_cap': 11412700264.20128, 'usd_24h_vol': 826686803.9319701, 'usd_24h_change': 0.13111427195270667, 'last_updated_at': 1663693492}, 'polkadot': {'usd': 6.32, 'usd_market_cap': 7294129190.7323265, 'usd_24h_vol': 273299481.6083334, 'usd_24h_change': -0.7705357691283453, 'last_updated_at': 1663693458}, 'bitcoin': {'usd': 19081.35, 'usd_market_cap': 365818477159.17, 'usd_24h_vol': 34129439115.040733, 'usd_24h_change': -0.6950583996560663, 'last_updated_at': 1663693467}}

,usd,usd_market_cap,usd_24h_vol,usd_24h_change,last_updated_at
cardano,$0.45,"$15,093,569,338.75","$474,451,226.32",-1.017871,2022-09-20 17:05:07
ethereum,"$1,366.20","$164,860,152,028.68","$13,770,505,279.16",1.126649,2022-09-20 17:04:23
solana,$32.20,"$11,412,700,264.20","$826,686,803.93",0.131114,2022-09-20 17:04:52
polkadot,$6.32,"$7,294,129,190.73","$273,299,481.61",-0.770536,2022-09-20 17:04:18
bitcoin,"$19,081.35","$365,818,477,159.17","$34,129,439,115.04",-0.695058,2022-09-20 17:04:27