In [65]:
#pip install pycoingecko
#pip install yahooquery
#import modules
import pandas as pd
import datetime
import time as t
import plotly.graph_objects as go
from plotly.offline import plot
from pycoingecko import CoinGeckoAPI
import yahooquery as yq
from yahooquery import Ticker
import glob
import os
import requests.exceptions
import responses
import datetime as dt
#create a client
cg = CoinGeckoAPI()
import time
from sqlalchemy import create_engine
from config import db_password

In [66]:
#read and load the file path  
path=(r'Resources')
all_files = glob.glob(os.path.join(path, "*.csv"))
#store in a dictonary
data={}
# itterate through paths, and read_csv and store it in dictonary
for i in all_files:
    data[i]=pd.read_csv(i)
#get dictonary values
#crypto
BTC=data.get('Resources/BTC.csv')
ETH=data.get('Resources/ETH.csv')
XRP=data.get('Resources/XRP.csv')
ADA=data.get('Resources/ADA.csv')
DOT=data.get('Resources/DOT.csv')
# stocks
AAPL=data.get('Resources/AAPL.csv')
AMZN=data.get('Resources/AMZN.csv')
TSLA=data.get('Resources/TSLA.csv')
GOOGL=data.get('Resources/GOOGL.csv')
META=data.get('Resources/META.csv')

isinstance(BTC, pd.DataFrame)
# print(data.keys())
# print(data.get('Resources/GOOGL.csv'))
# isinstance(AAPL, pd.DataFrame)

True

In [67]:
#clean the historical crypto data
def clean(df):
#     df=pd.DataFrame(df) #not working
# dropping null values    
    df.dropna()
# renaming columns    
    df.rename(columns={'date':'Date','symbol':'Ticker','open':'Open','high':'High',
                       'low':'Low','close':'Close','Volume USD':'Volume',
                       'datetime':'Date','volume':'Volume'},inplace=True) 
# convert into datetime 
    df['Date']=pd.to_datetime(df['Date'])
 
    
    return df

CRYPTO

In [68]:
# calling the function
BTC_df=clean(BTC)
ETH_df=clean(ETH)
XRP_df=clean(XRP)
ADA_df=clean(ADA)

# store it in dataframes
BTC_df=pd.DataFrame(BTC_df)
ETH_df=pd.DataFrame(ETH_df)
XRP=pd.DataFrame(XRP_df)
ADA_df=pd.DataFrame(ADA_df)

In [69]:
def crypto_clean(df):
    df['Volume'] = df['Volume'].map("{:.1f}".format)
    # dropping columns
    df.pop('unix')
    return df
# calling the function
BTC_df=crypto_clean(BTC)
ETH_df=crypto_clean(ETH)
XRP_df=crypto_clean(XRP)
ADA_df=crypto_clean(ADA)

# dropping column
BTC_df.pop('Volume BTC')
ETH_df.pop('Volume ETH')
ADA_df.pop('Volume ADA')
XRP_df.pop('Volume XRP')

0       2.421585e+05
1       1.136538e+07
2       7.027680e+06
3       9.326511e+06
4       8.805086e+06
            ...
1982    3.255109e+06
1983    6.474824e+06
1984    2.597807e+06
1985    3.608508e+06
1986    1.944855e+06
Name: Volume XRP, Length: 1987, dtype: float64

In [70]:
#coingeko volume api call
coins = ['bitcoin','ethereum','ripple','cardano','solana','dodgecoin','polkadot']
marketcap_vol_change = cg.get_price(ids = coins, 
                        vs_currencies = 'usd', 
                        include_market_cap = True,
                        include_24hr_vol = True,
                        include_24hr_change = True,
                        include_last_updated_at = True)
#dataframe and transposed
# marketcap_vol_change_df=pd.DataFrame(marketcap_vol_change).T
# marketcap_vol_change_df.rename(columns={'usd':'price','usd_market_cap':'Market Cap','last_updated_at':'date','usd_24h_vol':'volume'},inplace=True) 

#coingeko OHLC API call

btc_data = cg.get_coin_ohlc_by_id(id = 'bitcoin', 
                                  vs_currency = 'usd', 
                                  days = '7')
eth_data = cg.get_coin_ohlc_by_id(id = 'ethereum', 
                                  vs_currency = 'usd', 
                                  days = '7')
xrp_data = cg.get_coin_ohlc_by_id(id = 'ripple', 
                                  vs_currency = 'usd', 
                                  days = '7')
ada_data = cg.get_coin_ohlc_by_id(id = 'cardano', 
                                  vs_currency = 'usd', 
                                  days = 'max')

#dataframe

def dataframe(coin):
    columns = ['Date', 'Open', 'High' ,'Low', 'Close']
    coin=pd.DataFrame(coin,columns=columns)
    coin['Date'] = coin['Date'].apply(lambda x: dt.datetime.fromtimestamp(x/1000).strftime('%Y-%m-%d'))
    coin['Date']=pd.to_datetime(coin['Date'])
#     coin = coin.set_index('Date')
    coin=coin.sort_values(by=['Date'],ascending=False)
    coin=coin.iloc[[0]]
    return coin

# calling function
btc=dataframe(btc_data)
eth=dataframe(eth_data)
xrp=dataframe(xrp_data)
ada=dataframe(ada_data)

# isinstance(btc,pd.DataFrame)

In [71]:
# storing volume in OHLC dataframe

for x in marketcap_vol_change:      
    if (x=='bitcoin'):
        btc['Volume']=marketcap_vol_change['bitcoin'].get('usd_24h_vol')
        btc['Volume'] = btc['Volume'].map("{:.1f}".format)
        btc['Ticker']="BTC/USD"
    elif (x=='ethereum'):
        eth['Volume']=marketcap_vol_change['ethereum'].get('usd_24h_vol')
        eth['Volume'] = eth['Volume'].map("{:.1f}".format)
        eth['Ticker']="ETH/USD"
    elif (x=='ripple'):
        xrp['Volume']=marketcap_vol_change['ripple'].get('usd_24h_vol')
        xrp['Volume'] = xrp['Volume'].map("{:.1f}".format)
        xrp['Ticker']="XRP/USD"
    elif (x=='cardano'):
        ada['Volume']=marketcap_vol_change['cardano'].get('usd_24h_vol')
        ada['Volume'] = ada['Volume'].map("{:.1f}".format)
        ada['Ticker']="ADA/USD"
eth

         Date    Open    High      Low    Close         Volume   Ticker
42 2022-10-30  1604.8  1604.8  1588.39  1588.39  12703868782.9  ETH/USD

In [72]:
# adding row in in historical dataframe

BTC_df=pd.concat([btc,BTC_df])

ETH_df=pd.concat([eth,ETH_df])


ADA_df=pd.concat([ada,ADA_df])


XRP_df=pd.concat([xrp,XRP_df])


crypto = pd.concat([BTC_df,ETH_df,ADA_df,XRP_df], ignore_index=True)


crypto.tail()

           Date    Open    High     Low   Close     Volume   Ticker
7549 2017-05-23  0.2972  0.3499  0.2806  0.3216  1045202.2  XRP/USD
7550 2017-05-22  0.3270  0.3358  0.2500  0.2972  1950517.0  XRP/USD
7551 2017-05-21  0.3472  0.3700  0.3210  0.3270   895728.9  XRP/USD
7552 2017-05-20  0.3250  0.3720  0.2911  0.3472  1219474.1  XRP/USD
7553 2017-05-19  0.3442  0.3550  0.2500  0.3250   621677.1  XRP/USD

In [73]:
crypto.to_csv("Resources/crypto.csv",index=False, header=False)

In [74]:
# #reformat volume
# marketcap_vol_change_df['price'] = marketcap_vol_change_df['price'].map("{:,.2f}".format)
# marketcap_vol_change_df['volume'] = marketcap_vol_change_df['volume'].map("{:,.2f}".format)
# marketcap_vol_change_df['market_cap'] = marketcap_vol_change_df['market_cap'].map("{:,.2f}".format)
# marketcap_vol_change_df

STOCK

In [75]:
META_df=clean(META)
AAPL_df=clean(AAPL)
AMZN_df=clean(AMZN)
TSLA_df=clean(TSLA)
GOOGL_df=clean(GOOGL)

In [76]:
META_df['Ticker']='meta'
AAPL_df['Ticker']='aapl'
AMZN_df['Ticker']='amzn'
TSLA_df['Ticker']='tsla'
GOOGL_df['Ticker']='goog'

In [77]:
# calling Yahoo API
# Tesla Facebook Microsoft Apple Google
symbols = 'meta aapl amzn goog tsla' 
# Make asynchronous requests
stock_data = Ticker(symbols, asynchronous=True)
stock_data
# View data available through the 'Summary' tab
summary_details = stock_data.summary_detail
#dataframe and transposed
stock_df=pd.DataFrame(summary_details).T
#Desired columns
columns=['open','dayLow', 'dayHigh',
       'regularMarketPreviousClose','volume']
stock_df = stock_df.loc[:, columns].copy()

In [78]:
stock_df.rename(columns={'open':'Open','dayHigh':'High','dayLow':'Low','volume':'Volume',
                         'regularMarketPreviousClose':'Close'},inplace=True) 
stock_df.index.names=['Ticker']

In [79]:

stock_df.reset_index(inplace=True)
stock_df = stock_df.rename(columns = {'index':'Ticker'})
# stock_df['Date']=pd.Timestamp.now().strftime('%Y-%m-%d')
stock_df['Date']=time.strftime('%Y-%m-%d')
columns=['Date','Open','High','Low','Close','Volume','Ticker']
stock_df = stock_df.loc[:, columns].copy()
stock_df

         Date    Open     High      Low   Close     Volume Ticker
0  2022-10-30  97.905   103.96    97.66  110.96  221331452   amzn
1  2022-10-30   99.58   100.85    97.51   97.94   95928306   meta
2  2022-10-30   92.53  96.8556  92.3225    92.6   34901667   goog
3  2022-10-30   148.2    157.5   147.83   144.8  164762371   aapl
4  2022-10-30   225.4   228.86   216.35  225.09   69152386   tsla

In [80]:
meta=stock_df.loc[(stock_df["Ticker"]=='meta')]
META_df=pd.concat([meta,META_df])

amzn=stock_df.loc[(stock_df["Ticker"]=='amzn')]
AMZN_df=pd.concat([amzn,AMZN_df])


aapl=stock_df.loc[(stock_df["Ticker"]=='aapl')]
AAPL_df=pd.concat([aapl,AAPL_df])


goog=stock_df.loc[(stock_df["Ticker"]=='goog')]
GOOGL_df=pd.concat([goog,GOOGL_df])


tsla=stock_df.loc[(stock_df["Ticker"]=='tsla')]
TSLA_df=pd.concat([tsla,TSLA_df])

In [81]:
# META_df['Date']=pd.to_datetime(META_df['Date'])
# META_df.drop_duplicates(subset=['Date'])

In [82]:
stock = pd.concat([META_df,AMZN_df,AAPL_df,GOOGL_df,TSLA_df], ignore_index=True)

In [83]:
stock.to_csv("Resources/stock.csv",index=False)

#SQL

In [84]:
#connect to SQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/crypto_stock"
engine = create_engine(db_string)
# Import the stock Data
stock.to_sql(name='stock', con=engine, if_exists='replace')
# Import the stock Data
crypto.to_sql(name='crypto', con=engine, if_exists='replace')
# create a variable for the number of rows imported
rows_imported=0
# get the start_time from time.time()
start_time=time.time()
print(f'Done.{time.time()-start_time} total secons elapsed')

Done.3.504753112792969e-05 total secons elapsed