In [95]:
# !pip install yfinance
# !pip install yahoofinancials
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import time
import datetime
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [66]:
start_date =datetime.datetime.today().strftime('%Y-%m-%d')
today
end_date = (datetime.datetime.today() - datetime.timedelta(days=1100)).strftime('%Y-%m-%d')

### CRYPTO

In [67]:
coins=['BTC-USD','ETH-USD','BNB-USD','XRP-USD','SOL-USD']

data=YahooFinancials(coins).get_historical_price_data(end_date,start_date,"daily")

btc_df = pd.DataFrame(data['BTC-USD']['prices'])
eth_df = pd.DataFrame(data['ETH-USD']['prices'])
bnb_df = pd.DataFrame(data['BNB-USD']['prices'])
xrp_df = pd.DataFrame(data['XRP-USD']['prices'])
sol_df = pd.DataFrame(data['SOL-USD']['prices'])

In [68]:
bnb_df

,date,high,low,open,close,volume,adjclose,formatted_date
0,1572739200,20.432634,19.888830,20.269741,20.206045,257571666,20.206045,2019-11-03
1,1572825600,20.915594,20.184130,20.226446,20.737982,296502530,20.737982,2019-11-04
2,1572912000,20.922068,20.447971,20.741459,20.724674,263685442,20.724674,2019-11-05
3,1572998400,20.915331,20.280190,20.716938,20.817923,241489968,20.817923,2019-11-06
4,1573084800,20.959440,20.247614,20.814981,20.646936,222003636,20.646936,2019-11-07
...,...,...,...,...,...,...,...,...
1096,1667433600,338.642578,318.495575,320.174438,329.716980,1514834239,329.716980,2022-11-03
1097,1667520000,358.182007,328.739838,329.670959,354.406372,1938879952,354.406372,2022-11-04
1098,1667606400,360.309326,347.019623,354.419464,349.253723,1231594445,349.253723,2022-11-05
1099,1667692800,354.488098,339.192413,349.288147,339.389374,1143505730,339.389374,2022-11-06
1100,1667801040,341.466431,332.437500,337.366791,338.405853,1321213184,338.405853,2022-11-07

In [69]:
# btc_df = pd.DataFrame(data['BTC-USD']['prices'])
def clean (df):
    df =df.drop(['date','adjclose'], axis=1)
    df.rename(columns={'formatted_date':'date'},inplace=True)
    df['date']=pd.to_datetime(df['date'])
    
    return df

In [70]:
li=['btc','eth','bnb','xrp','sol']
btc = clean(btc_df)
eth = clean(eth_df)
bnb = clean(bnb_df)
xrp = clean(xrp_df)
sol = clean(sol_df)

for x in li:
    if (x=='btc'):
        btc['ticker']="BTC"
    elif (x=='eth'):
        eth['ticker']="ETH"
    elif (x=='bnb'):
        bnb['ticker']="BNB"
    elif (x=='xrp'):
        xrp['ticker']="XRP"
    elif (x=='sol'):
        sol['ticker']="SOL"

eth

,high,low,open,close,volume,date,ticker
0,185.024216,179.818146,183.994827,182.425018,8760247744,2019-11-03,ETH
1,188.022934,181.821609,182.319031,186.355194,10551917945,2019-11-04,ETH
2,191.257828,184.331985,186.309311,189.304169,10024177342,2019-11-05,ETH
3,193.547256,188.667679,189.113495,191.593842,10156458684,2019-11-06,ETH
4,191.861099,186.567001,191.504303,187.976547,9081247799,2019-11-07,ETH
...,...,...,...,...,...,...,...
1096,1556.759644,1517.101685,1519.724854,1531.541748,14248351007,2022-11-03,ETH
1097,1661.334717,1529.268433,1531.397583,1645.093384,20806964347,2022-11-04,ETH
1098,1660.486450,1625.964233,1645.156494,1627.968018,11006973190,2022-11-05,ETH
1099,1634.132446,1572.234741,1627.901123,1572.234741,11632744705,2022-11-06,ETH
1100,1592.995728,1570.074707,1570.889404,1588.346436,12784047104,2022-11-07,ETH

In [71]:
crypto = pd.concat([btc,eth,bnb,xrp,sol], ignore_index=True)

In [72]:
crypto.to_csv("../data/crypto.csv",index=False, header=False)

### STOCK

In [75]:
stock=['meta','aapl','amzn','goog','tsla']
data = YahooFinancials(stock).get_historical_price_data(end_date,start_date, time_interval='daily')

meta_df = pd.DataFrame(data['META']['prices'])
meta_df['ticker'] ='META' 
aapl_df = pd.DataFrame(data['AAPL']['prices'])
aapl_df['ticker'] ='AAPL'
amzn_df = pd.DataFrame(data['AMZN']['prices'])
amzn_df['ticker'] = 'AMZN'
goog_df = pd.DataFrame(data['GOOG']['prices'])
goog_df['ticker'] ='GOOG'
tsla_df = pd.DataFrame(data['TSLA']['prices'])
tsla_df['ticker'] ='TSLA'

758

In [76]:
meta = clean(meta_df)
aapl = clean(aapl_df)
amzn = clean(amzn_df)
goog = clean(goog_df)
tsla = clean(tsla_df)
goog

          high        low       open      close    volume       date ticker
0    64.706497  63.817749  63.822498  64.568497  30020000 2019-11-04   GOOG
1    64.946503  64.561447  64.644501  64.601501  25654000 2019-11-05   GOOG
2    64.686501  64.125000  64.473000  64.589996  23060000 2019-11-06   GOOG
3    66.186996  64.712250  64.713997  65.443001  40600000 2019-11-07   GOOG
4    65.900002  65.218246  65.264000  65.568497  25028000 2019-11-08   GOOG
..         ...        ...        ...        ...       ...        ...    ...
753  96.349998  94.379997  95.779999  94.660004  29868700 2022-10-31   GOOG
754  96.165001  90.430000  95.589996  90.500000  43220600 2022-11-01   GOOG
755  91.300003  87.010002  90.910004  87.070000  43553600 2022-11-02   GOOG
756  86.550003  83.449997  86.345001  83.489998  48510400 2022-11-03   GOOG
757  86.730003  83.879997  85.510002  86.699997  40155100 2022-11-04   GOOG

[758 rows x 7 columns]

In [77]:
stock = pd.concat([meta,amzn,aapl,goog,tsla], ignore_index=True)
stock

,high,low,open,close,volume,date,ticker
0,197.369995,193.809998,194.550003,194.720001,16371300,2019-11-04,META
1,195.750000,193.600006,195.369995,194.320007,9942000,2019-11-05,META
2,194.369995,191.350006,194.029999,191.550003,10973000,2019-11-06,META
3,193.440002,189.470001,191.910004,190.419998,13473000,2019-11-07,META
4,192.339996,189.699997,190.000000,190.839996,10760800,2019-11-08,META
...,...,...,...,...,...,...,...
3785,229.850006,221.940002,226.190002,227.539993,61554300,2022-10-31,TSLA
3786,237.399994,227.279999,234.050003,227.820007,62688800,2022-11-01,TSLA
3787,227.869995,214.820007,226.039993,214.979996,63070300,2022-11-02,TSLA
3788,221.199997,210.139999,211.360001,215.309998,56538800,2022-11-03,TSLA
3789,223.800003,203.080002,222.600006,207.470001,98453100,2022-11-04,TSLA

In [78]:
stock.to_csv("../data/stock.csv",index=False)

### SQL

In [96]:
#connect to SQL database
db_string = f"postgresql://postgres:{db_password}@cryptodb.cji8qxkmosul.us-east-1.rds.amazonaws.com"
engine = create_engine(db_string)
# Import the stock Data
stock.to_sql(name='stock', con=engine, if_exists='replace')
# Import the stock Data
crypto.to_sql(name='crypto', con=engine, if_exists='replace')
# create a variable for the number of rows imported
rows_imported=0
# get the start_time from time.time()
start_time=time.time()
print(f'Done.{time.time()-start_time} total secons elapsed')

Done.0.00027680397033691406 total secons elapsed