In [2]:
!pip install yfinance
# !pip install yahoofinancials

Collecting yfinance
  Downloading yfinance-0.1.85-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: requests>=2.26 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.28.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: appdirs>=1.4.4 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: six>=1.5 in /Users/fdave/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.85

In [30]:
# !pip install yfinance
# !pip install yahoofinancials
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import time
import datetime
import numpy as np
from config import db_password

In [46]:
import os 

from dotenv import load_dotenv
load_dotenv()

from sqlalchemy import create_engine
sc_key=os.getenv("db_key")

db_string = f"postgresql://postgres:{sc_key}@cryptodb.cji8qxkmosul.us-east-1.rds.amazonaws.com:5432/crypto_stock"
engine = create_engine(db_string)

In [32]:
#time to pull the data
start_date =datetime.datetime.today().strftime('%Y-%m-%d')
end_date = (datetime.datetime.today() - datetime.timedelta(days=1100)).strftime('%Y-%m-%d')
columns_name =["high","low","open","close","volume","date","ticker"]

### CRYPTO

In [33]:
# calling API 
coins=['BTC-USD','ETH-USD','BNB-USD','XRP-USD','SOL-USD']

data=YahooFinancials(coins).get_historical_price_data(end_date,start_date,"daily")
#into the dataframe
btc_df = pd.DataFrame(data['BTC-USD']['prices'])
eth_df = pd.DataFrame(data['ETH-USD']['prices'])
bnb_df = pd.DataFrame(data['BNB-USD']['prices'])
xrp_df = pd.DataFrame(data['XRP-USD']['prices'])
sol_df = pd.DataFrame(data['SOL-USD']['prices'])

In [34]:
# clean the dataframe
def clean (df):
    df =df.drop(['date','adjclose'], axis=1)
    df.rename(columns={'formatted_date':'date'},inplace=True)
    df['date']=pd.to_datetime(df['date'])
    
    return df

In [35]:
# function calling for crypto
btc = clean(btc_df)
eth = clean(eth_df)
bnb = clean(bnb_df)
xrp = clean(xrp_df)
sol = clean(sol_df)

# adding ticker

li=['btc','eth','bnb','xrp','sol']
for x in li:
    if (x=='btc'):
        btc['ticker']="BTC"
    elif (x=='eth'):
        eth['ticker']="ETH"
    elif (x=='bnb'):
        bnb['ticker']="BNB"
    elif (x=='xrp'):
        xrp['ticker']="XRP"
    elif (x=='sol'):
        sol['ticker']="SOL"

In [36]:
# combining all the cryptos 
crypto = pd.concat([btc,eth,bnb,xrp,sol], ignore_index=True)
crypto.head()

,high,low,open,close,volume,date,ticker
0,9368.476562,9202.353516,9352.393555,9267.561523,22700383839,2019-11-07,BTC
1,9272.759766,8775.534180,9265.368164,8804.880859,24333037836,2019-11-08,BTC
2,8891.818359,8793.163086,8809.468750,8813.582031,17578630606,2019-11-09,BTC
3,9103.826172,8806.162109,8812.489258,9055.526367,20587919881,2019-11-10,BTC
4,9081.279297,8700.608398,9056.917969,8757.788086,20265510765,2019-11-11,BTC

In [37]:
# writing it on a CSV
btc.to_csv("../data/BTC.csv",index=False, header=columns_name)
eth.to_csv("../data/ETH.csv",index=False, header=columns_name)
bnb.to_csv("../data/BNB.csv",index=False, header=columns_name)
xrp.to_csv("../data/XRP.csv",index=False, header=columns_name)
sol.to_csv("../data/SOL.csv",index=False, header=columns_name)
crypto.to_csv("../data/crypto.csv",index=False, header=columns_name)

In [38]:
crypto.to_sql(name='cryptos', con=engine, if_exists='append')

350

### STOCK

In [39]:
# calling API
stock=['meta','aapl','amzn','goog','tsla']
data = YahooFinancials(stock).get_historical_price_data(end_date,start_date, time_interval='daily')
# into the dataframe and adding ticker
meta_df = pd.DataFrame(data['META']['prices'])
meta_df['ticker'] ='META' 
aapl_df = pd.DataFrame(data['AAPL']['prices'])
aapl_df['ticker'] ='AAPL'
amzn_df = pd.DataFrame(data['AMZN']['prices'])
amzn_df['ticker'] = 'AMZN'
goog_df = pd.DataFrame(data['GOOG']['prices'])
goog_df['ticker'] ='GOOG'
tsla_df = pd.DataFrame(data['TSLA']['prices'])
tsla_df['ticker'] ='TSLA'

In [40]:
# calling the clean funtion
meta = clean(meta_df)
aapl = clean(aapl_df)
amzn = clean(amzn_df)
goog = clean(goog_df)
tsla = clean(tsla_df)

In [41]:
# combining all the stocks
stock = pd.concat([meta,amzn,aapl,goog,tsla], ignore_index=True)
stock.head()

         high         low        open       close    volume       date ticker
0  193.440002  189.470001  191.910004  190.419998  13473000 2019-11-07   META
1  192.339996  189.699997  190.000000  190.839996  10760800 2019-11-08   META
2  190.080002  188.539993  189.929993  189.610001   8631200 2019-11-11   META
3  195.059998  189.740005  190.000000  194.470001  17615500 2019-11-12   META
4  195.699997  192.740005  194.699997  193.190002  10860700 2019-11-13   META

In [44]:
# writing it on a CSV
meta.to_csv("../data/META.csv",index=False, header=columns_name)
amzn.to_csv("../data/AMZN.csv",index=False, header=columns_name)
aapl.to_csv("../data/AAPL.csv",index=False, header=columns_name)
goog.to_csv("../data/GOOGL.csv",index=False, header=columns_name)
tsla.to_csv("../data/TSLA.csv",index=False, header=columns_name)
stock.to_csv("../data/stock.csv",index=False, header=columns_name)

In [49]:
stock.to_sql(name='stocks', con=engine, if_exists='append', index=True)

795

### SQL

In [56]:
#connect to SQL database
db_string = f"postgresql://postgres:{db_password}@cryptodb.cji8qxkmosul.us-east-1.rds.amazonaws.com"
engine = create_engine(db_string)
# Import the stock Data
stock.to_sql(name='stock', con=engine, if_exists='replace')
# Import the stock Data
crypto.to_sql(name='crypto', con=engine, if_exists='replace')
# create a variable for the number of rows imported
rows_imported=0
# get the start_time from time.time()
start_time=time.time()
print(f'Done.{time.time()-start_time} total secons elapsed')

Done.0.0002391338348388672 total secons elapsed