In [24]:
#pip install pycoingecko
#pip install yahooquery
#import modules
import pandas as pd
import datetime
import time as t
import plotly.graph_objects as go
from plotly.offline import plot
from pycoingecko import CoinGeckoAPI
import yahooquery as yq
from yahooquery import Ticker

CRYPTO

In [25]:
#create a client
cg = CoinGeckoAPI()
#confirm connection
CoinGeckoAPI().ping()

{'gecko_says': '(V3) To the Moon!'}

In [29]:
#get a list of coins, sort df by id
coin_list = CoinGeckoAPI().get_coins_list()
coin_df = pd.DataFrame(coin_list).sort_values('symbol').reset_index(drop=True)
coin_df.head()

             id  symbol              name
0  arabian-doge  $adoge      Arabian Doge
1        alkimi    $ads            Alkimi
2  aurora-token   $adtx  Aurora Dimension
3   alpha-nodes  $alpha      Alpha Shares
4    alpha-labz  $alpha        Alpha Labz

In [18]:
coins = ['bitcoin','ethereum','bnb','binance','xrp','cardano','solana','dodgecoin','polkadot']
coin_df.loc[(coin_df['id']=='bitcoin')|(coin_df['id']=='ethereum')|
            (coin_df['id']=='bnb')|(coin_df['id']=='ripple')|
            (coin_df['id']=='cardano')|(coin_df['id']=='solana')|
            (coin_df['id']=='doge')|(coin_df['id']=='polkadot'),:]
# coin_df.loc[(coin_df['symbol']=='btc')|(coin_df['symbol']=='eth')|
#             (coin_df['symbol']=='bnb')|(coin_df['symbol']=='xrp')|
#             (coin_df['symbol']=='ada')|(coin_df['symbol']=='sol')|
#             (coin_df['symbol']=='doge')|(coin_df['symbol']=='dot')
#             |(coin_df['symbol']=='binance'),:]

             id symbol      name
308     cardano    ada   Cardano
1883    bitcoin    btc   Bitcoin
3515   polkadot    dot  Polkadot
4037   ethereum    eth  Ethereum
10636    solana    sol    Solana
12859    ripple    xrp       XRP

In [32]:
counterCurrencies = CoinGeckoAPI().get_supported_vs_currencies()
counterCurrencies
currency = ['usd']
simplePriceRequest = CoinGeckoAPI().get_price(ids = coins, vs_currencies = 'usd')
simplePriceRequest

{'ethereum': {'usd': 1460.81},
 'polkadot': {'usd': 6.44},
 'bitcoin': {'usd': 20086},
 'solana': {'usd': 30.86},
 'cardano': {'usd': 0.40333}}

In [34]:
marketcap_vol_change = CoinGeckoAPI().get_price(ids = coins, 
                        vs_currencies = currency, 
                        include_market_cap = True,
                        include_24hr_vol = True,
                        include_24hr_change = True,
                        include_last_updated_at = True)
print(marketcap_vol_change)

{'ethereum': {'usd': 1460.63, 'usd_market_cap': 176060600007.30322, 'usd_24h_vol': 19530922529.05801, 'usd_24h_change': 8.668506136169057, 'last_updated_at': 1666740931}, 'cardano': {'usd': 0.403443, 'usd_market_cap': 14138049287.662968, 'usd_24h_vol': 1136200786.5791554, 'usd_24h_change': 12.663399256154579, 'last_updated_at': 1666740896}, 'polkadot': {'usd': 6.44, 'usd_market_cap': 7504709814.870385, 'usd_24h_vol': 425129956.1988373, 'usd_24h_change': 8.949876851269565, 'last_updated_at': 1666740928}, 'bitcoin': {'usd': 20087, 'usd_market_cap': 385493628952.0928, 'usd_24h_vol': 39619582458.49298, 'usd_24h_change': 3.8609828249013427, 'last_updated_at': 1666740894}, 'solana': {'usd': 30.85, 'usd_market_cap': 11062515274.129694, 'usd_24h_vol': 1336149340.9734569, 'usd_24h_change': 8.936342708526212, 'last_updated_at': 1666740914}}

In [5]:
#dataframe and transposed
marketcap_vol_change_df=pd.DataFrame(marketcap_vol_change).T
marketcap_vol_change_df

,usd,usd_market_cap,usd_24h_vol,usd_24h_change,last_updated_at
polkadot,6.430000,7.507447e+09,4.197332e+08,9.411738,1.666733e+09
bitcoin,20127.000000,3.871573e+11,3.829586e+10,4.056091,1.666733e+09
ethereum,1469.140000,1.776946e+11,1.853889e+10,8.992441,1.666733e+09
cardano,0.407421,1.428706e+10,1.036613e+09,13.604199,1.666733e+09
solana,30.860000,1.110119e+10,1.276802e+09,8.869805,1.666733e+09

In [6]:
# #reformat date
marketcap_vol_change_df['last_updated_at'] = pd.to_datetime(marketcap_vol_change_df['last_updated_at'],unit='s')
print(marketcap_vol_change_df['last_updated_at'])

polkadot   2022-10-25 21:29:40
bitcoin    2022-10-25 21:29:28
ethereum   2022-10-25 21:29:23
cardano    2022-10-25 21:29:41
solana     2022-10-25 21:29:45
Name: last_updated_at, dtype: datetime64[ns]

In [7]:
#reformat volume
marketcap_vol_change_df['usd'] = marketcap_vol_change_df['usd'].map("${:,.2f}".format)
marketcap_vol_change_df['usd_24h_vol'] = marketcap_vol_change_df['usd_24h_vol'].map("${:,.2f}".format)
marketcap_vol_change_df['usd_market_cap'] = marketcap_vol_change_df['usd_market_cap'].map("${:,.2f}".format)
marketcap_vol_change_df

,usd,usd_market_cap,usd_24h_vol,usd_24h_change,last_updated_at
polkadot,$6.43,"$7,507,447,296.00","$419,733,150.97",9.411738,2022-10-25 21:29:40
bitcoin,"$20,127.00","$387,157,301,046.47","$38,295,857,189.23",4.056091,2022-10-25 21:29:28
ethereum,"$1,469.14","$177,694,640,985.93","$18,538,889,978.26",8.992441,2022-10-25 21:29:23
cardano,$0.41,"$14,287,058,963.94","$1,036,613,230.37",13.604199,2022-10-25 21:29:41
solana,$30.86,"$11,101,190,990.22","$1,276,802,353.38",8.869805,2022-10-25 21:29:45

STOCK

In [8]:
# Tesla Facebook Microsoft Apple Google
symbols = 'meta aapl msft goog tsla' 
# Make asynchronous requests
stock_data = Ticker(symbols, asynchronous=True)
stock_data

NameError: name 'Ticker' is not defined

In [21]:
# View data available through the 'Summary' tab
summary_details = stock_data.summary_detail

NameError: name 'stock_data' is not defined

In [20]:
#dataframe and transposed
stock_df=pd.DataFrame(summary_details).T
stock_df.columns

NameError: name 'summary_details' is not defined

In [33]:
#Desired columns
columns=['open','dayLow', 'dayHigh',
       'regularMarketPreviousClose', 'regularMarketOpen',
       'regularMarketDayLow', 'regularMarketDayHigh','volume', 'regularMarketVolume']
stock_df = stock_df.loc[:, columns].copy()
stock_df

NameError: name 'stock_df' is not defined