In [45]:
# !pip install yfinance
# !pip install yahoofinancials
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import time
import datetime
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [46]:
#time to pull the data
start_date =datetime.datetime.today().strftime('%Y-%m-%d')
end_date = (datetime.datetime.today() - datetime.timedelta(days=1100)).strftime('%Y-%m-%d')
columns_name =["high","low","open","close","volume","date","ticker"]

### CRYPTO

In [47]:
# calling API 
coins=['BTC-USD','ETH-USD','BNB-USD','XRP-USD','SOL-USD']

data=YahooFinancials(coins).get_historical_price_data(end_date,start_date,"daily")
#into the dataframe
btc_df = pd.DataFrame(data['BTC-USD']['prices'])
eth_df = pd.DataFrame(data['ETH-USD']['prices'])
bnb_df = pd.DataFrame(data['BNB-USD']['prices'])
xrp_df = pd.DataFrame(data['XRP-USD']['prices'])
sol_df = pd.DataFrame(data['SOL-USD']['prices'])

In [48]:
# clean the dataframe
def clean (df):
    df =df.drop(['date','adjclose'], axis=1)
    df.rename(columns={'formatted_date':'date'},inplace=True)
    df['date']=pd.to_datetime(df['date'])
    
    return df

In [49]:
# function calling for crypto
btc = clean(btc_df)
eth = clean(eth_df)
bnb = clean(bnb_df)
xrp = clean(xrp_df)
sol = clean(sol_df)

# adding ticker

li=['btc','eth','bnb','xrp','sol']
for x in li:
    if (x=='btc'):
        btc['ticker']="BTC"
    elif (x=='eth'):
        eth['ticker']="ETH"
    elif (x=='bnb'):
        bnb['ticker']="BNB"
    elif (x=='xrp'):
        xrp['ticker']="XRP"
    elif (x=='sol'):
        sol['ticker']="SOL"

In [50]:
# combining all the cryptos 
crypto = pd.concat([btc,eth,bnb,xrp,sol], ignore_index=True)
crypto.head()

,high,low,open,close,volume,date,ticker
0,9505.051758,9191.485352,9235.607422,9412.612305,26170255634,2019-11-04,BTC
1,9457.417969,9256.931641,9413.004883,9342.527344,26198609048,2019-11-05,BTC
2,9423.237305,9305.909180,9340.864258,9360.879883,23133895765,2019-11-06,BTC
3,9368.476562,9202.353516,9352.393555,9267.561523,22700383839,2019-11-07,BTC
4,9272.759766,8775.534180,9265.368164,8804.880859,24333037836,2019-11-08,BTC

In [51]:
# writing it on a CSV
btc.to_csv("../data/BTC.csv",index=False, header=columns_name)
eth.to_csv("../data/ETH.csv",index=False, header=columns_name)
bnb.to_csv("../data/BNB.csv",index=False, header=columns_name)
xrp.to_csv("../data/XRP.csv",index=False, header=columns_name)
sol.to_csv("../data/SOL.csv",index=False, header=columns_name)
crypto.to_csv("../data/crypto.csv",index=False, header=columns_name)

### STOCK

In [52]:
# calling API
stock=['meta','aapl','amzn','goog','tsla']
data = YahooFinancials(stock).get_historical_price_data(end_date,start_date, time_interval='daily')
# into the dataframe and adding ticker
meta_df = pd.DataFrame(data['META']['prices'])
meta_df['ticker'] ='META' 
aapl_df = pd.DataFrame(data['AAPL']['prices'])
aapl_df['ticker'] ='AAPL'
amzn_df = pd.DataFrame(data['AMZN']['prices'])
amzn_df['ticker'] = 'AMZN'
goog_df = pd.DataFrame(data['GOOG']['prices'])
goog_df['ticker'] ='GOOG'
tsla_df = pd.DataFrame(data['TSLA']['prices'])
tsla_df['ticker'] ='TSLA'

In [53]:
# calling the clean funtion
meta = clean(meta_df)
aapl = clean(aapl_df)
amzn = clean(amzn_df)
goog = clean(goog_df)
tsla = clean(tsla_df)

In [54]:
# combining all the stocks
stock = pd.concat([meta,amzn,aapl,goog,tsla], ignore_index=True)
stock.head()

         high         low        open       close    volume       date ticker
0  197.369995  193.809998  194.550003  194.720001  16371300 2019-11-04   META
1  195.750000  193.600006  195.369995  194.320007   9942000 2019-11-05   META
2  194.369995  191.350006  194.029999  191.550003  10973000 2019-11-06   META
3  193.440002  189.470001  191.910004  190.419998  13473000 2019-11-07   META
4  192.339996  189.699997  190.000000  190.839996  10760800 2019-11-08   META

In [55]:
# writing it on a CSV
meta.to_csv("../data/META.csv",index=False, header=columns_name)
amzn.to_csv("../data/AMZN.csv",index=False, header=columns_name)
aapl.to_csv("../data/AAPL.csv",index=False, header=columns_name)
goog.to_csv("../data/GOOGL.csv",index=False, header=columns_name)
tsla.to_csv("../data/TSLA.csv",index=False, header=columns_name)
stock.to_csv("../data/stock.csv",index=False, header=columns_name)

### SQL

In [56]:
#connect to SQL database
db_string = f"postgresql://postgres:{db_password}@cryptodb.cji8qxkmosul.us-east-1.rds.amazonaws.com"
engine = create_engine(db_string)
# Import the stock Data
stock.to_sql(name='stock', con=engine, if_exists='replace')
# Import the stock Data
crypto.to_sql(name='crypto', con=engine, if_exists='replace')
# create a variable for the number of rows imported
rows_imported=0
# get the start_time from time.time()
start_time=time.time()
print(f'Done.{time.time()-start_time} total secons elapsed')

Done.0.0002391338348388672 total secons elapsed