In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import the requests library.
import requests

# Import the API key.
from config import Api_key

In [3]:
ticker = "AAPL"
interval = "1day"
start_date = "2010-01-01" 
end_date = "2022-10-26"
url = f"https://api.twelvedata.com/time_series?symbol={ticker}&start_date={start_date}&end_date={end_date}&interval={interval}&apikey={Api_key}"
data = requests.get(url).json()
data_df = pd.DataFrame(data['values'])
data_df.tail()

        datetime     open     high      low    close     volume
3221  2010-01-08  7.51071  7.57143  7.46643  7.57071  447610800
3222  2010-01-07  7.56250  7.57143  7.46607  7.52071  477131200
3223  2010-01-06  7.65643  7.68679  7.52679  7.53464  552160000
3224  2010-01-05  7.66429  7.69964  7.61607  7.65643  601904800
3225  2010-01-04  7.62250  7.66071  7.58500  7.64321  493729600

In [4]:
data_df.to_csv('Stock Data/AAPL_daily.csv', index=False)