In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import the requests library.
import requests

# Import the API key.
from config import Api_key

In [3]:
ticker = "AAPL"
interval = "1day"
start_date = "2010-01-01" 
end_date = "2022-10-26"
url = f"https://api.twelvedata.com/time_series?symbol={ticker}&start_date={start_date}&end_date={end_date}&interval={interval}&apikey={Api_key}"
data = requests.get(url).json()
data_df = pd.DataFrame(data['values'])
data_df.tail()

        datetime     open     high      low    close     volume
3221  2010-01-08  7.51071  7.57143  7.46643  7.57071  447610800
3222  2010-01-07  7.56250  7.57143  7.46607  7.52071  477131200
3223  2010-01-06  7.65643  7.68679  7.52679  7.53464  552160000
3224  2010-01-05  7.66429  7.69964  7.61607  7.65643  601904800
3225  2010-01-04  7.62250  7.66071  7.58500  7.64321  493729600

In [4]:
data_df.to_csv('Stock Data/AAPL_daily.csv', index=False)

In [5]:
ticker = "AMZN"
interval = "1min"
start_date = "2010-01-01" 
end_date = "2022-10-26"
url = f"https://api.twelvedata.com/time_series?symbol={ticker}&start_date={start_date}&end_date={end_date}&interval={interval}&apikey={Api_key}"
data = requests.get(url).json()
data_df = pd.DataFrame(data['values'])
data_df.tail()

                 datetime       open       high        low      close  volume
4995  2022-10-07 10:44:00  116.03000  116.14000  116.03000  116.08000  108418
4996  2022-10-07 10:43:00  116.03000  116.09000  115.95000  116.00000  111522
4997  2022-10-07 10:42:00  116.08000  116.08000  115.93000  116.05000   94984
4998  2022-10-07 10:41:00  116.01000  116.12000  115.99000  116.08000  151597
4999  2022-10-07 10:40:00  115.78000  116.04000  115.78000  116.04000  135566

In [44]:
data_df.to_csv('Stock Data/AMZN_daily.csv', index=False)

In [30]:
# data_df["datetime"]

0       2022-10-25 15:30:00
1       2022-10-25 13:30:00
2       2022-10-25 11:30:00
3       2022-10-25 09:30:00
4       2022-10-24 15:30:00
               ...
3345    2019-06-21 10:00:00
3346    2019-06-20 16:00:00
3347    2019-06-20 14:00:00
3348    2019-06-20 12:00:00
3349    2019-06-20 10:00:00
Name: datetime, Length: 3350, dtype: object

In [31]:
# data_df["datetime"].str.split(" ", n=1)

0       [2022-10-25, 15:30:00]
1       [2022-10-25, 13:30:00]
2       [2022-10-25, 11:30:00]
3       [2022-10-25, 09:30:00]
4       [2022-10-24, 15:30:00]
                 ...
3345    [2019-06-21, 10:00:00]
3346    [2019-06-20, 16:00:00]
3347    [2019-06-20, 14:00:00]
3348    [2019-06-20, 12:00:00]
3349    [2019-06-20, 10:00:00]
Name: datetime, Length: 3350, dtype: object

In [33]:
#split_data = data_df["datetime"].str.split(" ", n=1, expand=True)
#split_data.rename(columns={0:"Date", 1:"Time"})

            Date      Time
0     2022-10-25  15:30:00
1     2022-10-25  13:30:00
2     2022-10-25  11:30:00
3     2022-10-25  09:30:00
4     2022-10-24  15:30:00
...          ...       ...
3345  2019-06-21  10:00:00
3346  2019-06-20  16:00:00
3347  2019-06-20  14:00:00
3348  2019-06-20  12:00:00
3349  2019-06-20  10:00:00

[3350 rows x 2 columns]